#num1{

}

#num2{

}

#mybtn{
    position: relative;
    bottom: 10px;
    height: 3em;
    width: 6em;
    cursor: pointer;
    animation-duration: 0.5ms;
    background-color: tomato;
    
}

#result{

}

#item-name-input {}

#item-price-input {}

#button {
    height: 30px;
    width: 60px;
    position: relative;
}

#my_table {}

#sum {}