#grid{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
}
#grid_div{


}
#resultDisplay{
   text-align: center;
}
.unblock_grid{

}
.block_grid{
    pointer-events: none;
}
.bomb_here{
     background: url(https://img.icons8.com/emoji/48/000000/bomb-emoji.png);
     width: 5vh;
     height: 5vh;
     padding: 0;
     text-align: center;
}
.game_start_mode{

    background: rgb(66, 59, 59);
    width: 5vh;
    height: 5vh;
    padding: 0;
    text-align: center;
}
.game_no_bomb {

    background: rgb(21, 247, 0);
    width: 5vh;
    height: 5vh;
    padding: 0;
    text-align: center;
}

body{
    background: white;
}

#gameScore{
   text-align: center;
}
#resetButton{
 margin: 0 auto;
 display: block;
 margin-left: auto;
 margin-right: auto;
}
